{
  "cron_time":"0 */5 * * * *",
  "pages": [
    {
      "name": "News",
      "url": "https://doax-venusvacation.jp/news_list.html"
    },
    {
      "name": "Updates",
      "url": "https://doax-venusvacation.jp/update_list.html"
    }
  ], 
  "webhook": "https://discord.com/api/webhooks/xxx/yyy"
}
